experiment_name: maze_dqn_v1

seeds:
  - 42
  - 123
  - 999

# -----------------------------------------
# Environment (Maze)
# -----------------------------------------
environment:
  generator:
    width: 7
    height: 7
    seed: null              # null = aleatorio por seed global
    loop_probability: 0.05

  max_steps: 500


# -----------------------------------------
# Training
# -----------------------------------------
training:
  num_episodes: 2000
  max_steps_per_episode: 500

  epsilon_start: 1.0
  epsilon_end: 0.05
  epsilon_decay_episodes: 500

  checkpoint_dir: results/checkpoints
  results_dir: results/runs

  early_stopping_patience: 100
  success_threshold: 0.95
  success_window: 100

# -----------------------------------------
# Agent (DQN)
# -----------------------------------------
agent:
  gamma: 0.99
  learning_rate: 0.0005

  batch_size: 64
  replay_buffer_size: 50000
  min_replay_size: 1000

  target_update_frequency: 500

  hidden_layers:
    - 128
    - 128
