experiment_name: maze_dqn_v2

seeds:
  - 42
  - 123
  - 999

# -----------------------------------------
# Environment
# -----------------------------------------
environment:
  grid:
    - [0,0,0,0,0,0,0,0]
    - [0,1,1,1,0,1,1,0]
    - [0,0,0,1,0,0,1,0]
    - [1,1,0,0,0,1,0,0]
    - [0,0,0,1,0,0,0,1]
    - [0,1,0,0,0,1,0,0]
    - [0,1,0,1,0,0,0,0]
    - [0,0,0,0,1,1,0,0]

  randomize_grid: false
  random_start_goal: false
  wall_probability: 0.0
  max_steps: 200



# -----------------------------------------
# Training
# -----------------------------------------
training:
  num_episodes: 2000
  max_steps_per_episode: 200

  epsilon_start: 1.0
  epsilon_end: 0.02
  epsilon_decay_episodes: 2000

  checkpoint_dir: results/checkpoints
  results_dir: results/runs

  early_stopping_patience: null
  success_threshold: 0.85
  success_window: 200


# -----------------------------------------
# Agent
# -----------------------------------------
agent:
  gamma: 0.99
  learning_rate: 0.0001

  batch_size: 256
  replay_buffer_size: 100000
  min_replay_size: 5000
