experiment_name: maze_dqn_v2_phase2

seeds:
  - 42
  - 123
  - 999

# -----------------------------------------
# Environment
# -----------------------------------------
environment:
  grid:
    - [0,0,0,0,0,0,0,0]
    - [0,1,1,1,0,1,1,0]
    - [0,0,0,1,0,0,1,0]
    - [1,1,0,0,0,1,0,0]
    - [0,0,0,1,0,0,0,1]
    - [0,1,0,0,0,1,0,0]
    - [0,1,0,1,0,0,0,0]
    - [0,0,0,0,1,1,0,0]

  randomize_grid: true # Modelo 2.5
  random_start_goal: true 
  wall_probability: 0.10 # Modelo 2.5
  max_steps: 200


# -----------------------------------------
# Training
# -----------------------------------------
training:
  num_episodes: 5000 # 2.5.3
  max_steps_per_episode: 200

  epsilon_start: 1.0
  epsilon_end: 0.05  # modelo 2.5.1
  epsilon_decay_episodes: 2000 #  modelo 2.5.3

  checkpoint_dir: results/checkpoints
  results_dir: results/runs

  early_stopping_patience: null
  success_threshold: 1.1   # modelo 2.5.3
  success_window: 500 # modelo 2.5.2


# -----------------------------------------
# Agent
# -----------------------------------------
agent:
  gamma: 0.99 # Modelo 2.5.4
  learning_rate: 0.00015 # modelo 2.5.4

  batch_size: 128              #  modelo 2.5.4
  replay_buffer_size: 50000     #  modelo 2.5.4
  min_replay_size: 5000 # modelo 2.5.4

  tau: 0.001                   #  modelo 2.5.4
  update_frequency: 4             #  modelo 2.5.4
